body {
    font-family: Arial, sans-serif;
    background-color: #f2f7f2;
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img, .gallery video {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

video {
    max-width: 100%;
}
